body{
    background-image: url(./WhatsApp\ Image\ 2026-01-08\ at\ 20.47.29.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    position: relative;
    width: 600px;
    height: 700px;
    background-color: black;
    font-size: x-large;
    overflow: hidden;

}

.box form{
    position: absolute;
    inset: 4px;
    background-color: rgba(8, 61, 126, 0.995);
    padding-left: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: rgb(15, 2, 2);
    
}

.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 800px;
    height: 700px;
    background: linear-gradient(0deg,transparent,transparent, blue,blue,blue);
    z-index: 1;
    transform-origin: bottom right;
    animation: ani 6s linear infinite;

}

.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 800px;
    height: 700px;
    background: linear-gradient(0deg,transparent,transparent, blue,blue,blue);
    z-index: 1;
    transform-origin: bottom right;
    animation: ani 6s linear infinite;
    animation-delay: -3s;

}

.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderline::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 800px;
    height: 700px;
    background: linear-gradient(0deg,transparent,transparent, red,red,red);
    z-index: 1;
    transform-origin: bottom right;
    animation: ani 6s linear infinite;
    animation-delay: 1.5s;
}

.borderline::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 800px;
    height: 700px;
    background: linear-gradient(0deg,transparent,transparent, red,red,red);
    z-index: 1;
    transform-origin: bottom right;
    animation: ani 6s linear infinite;
    animation-delay: 4.5s;
}
@keyframes ani{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }

}
#for{
    height: 25px;
    width: 300px;
    border-radius: 5px;
    background-color: transparent;
}
.one{
    align-items: flex-start;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    text-align: center;
}

h3{
    text-align: center;
}

.two{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 80px;
    height: 30px;
    border: 2px solid black;
    

}
